@{
    ViewData["Title"] = "Unforgettable Gains";
}
<div class="p-5 mb-4 bg-black" style="border:8px solid saddlebrown;">
    <h2 style="color:saddlebrown;">Unforgettable Gains</h2>
</div>
<div class="ms-4">
    <p>
        Unforgettable Gains is an app that allows you to track your progress in the gym. You can add your workouts and how many reps you last did along with the weight. As you grow, so will your input.
    </p>
    <p>You can track your nutritions including calories and protiens.</p>
    <p>
        We are always looking for new ideas.  Please contact our <a href="mailto:design@unforgettablegains.com">Creative Team</a> with your ideas!
    </p>
    <img src="~/images/gym.jpg" alt="gym" asp-append-version="true" class="img-fluid" />
</div>
