@{
    ViewData["Title"] = "Unforgettable Gains";
}
<div class="p-5 mb-4 bg-black" style="border:8px solid saddlebrown;">
    <h1 style="color:saddlebrown;">Unforgettable Gains</h1>
    <p>
        The workout app that you need.
    </p>
</div>
<div class="ms-3">
    <address>
        900 Workout Avenue<br />
        Traverse City, MI 49696<br />
        <i class="material-icons" style="font-size:24px">call</i> 900.UFG.GAIN
    </address>

    <address>
        <strong>Tech Support:</strong>   <a href="mailto:Support@unforgettablegains.com">Support@unforgettablegains.com</a><br />
    </address>
</div>
