@{
    ViewData["Title"] = "Unforgettable Gains";
}

<div class="p-5 mb-4 bg-black" style="border:8px solid saddlebrown;">
    <h1 style="color:saddlebrown;">Unforgettable Gains</h1>
    <p>
        The Unforgettable Gains app gives you the tools to easily record your workouts, stay on track, and make your fitness goal unforgettable.
    </p>
</div>

<div class="col-4 float-start">
    <div>
        <h2>Getting started</h2>
        <p>
            Simply travel to the workouts page and start adding your workouts or using our recommended list. Coming soon...<br />
        </p>
    </div>
    <div>
        <h2>Track your progress</h2>
        <p>Track your reps and resistance for each exercise to see your improvements in action and stay motivated.</p>
    </div>
    <div>
        <h2>Track your nutritions</h2>
        <p>An easy way to add nutritions that you would like to keep an eye on.</p>
    </div>
</div>
<div>
    <img src="~/images/model.jpg" alt="man flexing" asp-append-version="true" class="float-end col-4 img-fluid" />
</div>
